@font-face {
    font-family: airstrike;
    src: url("../fonts/airstrikehalf.ttf");
}

@font-face {
    font-family: reckoner;
    src: url("../fonts/Reckoner_Bold.ttf");
}

body {
    box-sizing: border-box;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

.wrapper {
    height: 120vh;
    width: 120vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../Assets/brugfuif_photo_banner.png");
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url(../Assets/brugfuif_photo_banner.png);
    background-position: center;
    background-size: cover;
}

.title {
    font-family: reckoner, sans-serif;
}

#logo-container {
    width: 40%;
    transform: translate(-20%, -20%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.btnTicket {
    margin-top: 4rem;
    background-color: inherit;
    outline: none;
    border: 2px solid white;
    width: 50%;
    font-family: reckoner, sans-serif;
    font-size: 26pt;
    color: white;
    letter-spacing: 0.2rem;
    transition-duration: .3s;
    text-align: center;
    text-decoration: none;
    border-radius: 0;
}

.btnTicket:hover {
    border: 2px solid lightblue;
    color: lightblue;
    transition-duration: .3s;
}

.nav-link {
    position: absolute;
    color: white;
    font-family: reckoner, sans-serif;
    font-size: 20pt;
    text-shadow: 0 1px 0 rgb(0, 0, 0);
}

.nav-link:hover, .nav-link:focus {
    color: lightblue;
}

.photo {
    top: 0.5rem;
    right: 0.5rem;
}

.event {
    top: 0.5rem;
    left: 0.5rem;
}

.insta {
    bottom: 0.5rem;
    left: 0.5rem;
}

.facebook {
    bottom: 0.5rem;
    right: 0.5rem;
}

.main-logo-container {
    position: absolute;
    top: 0.3rem;
    left: 50%;
    width: 6%;
    transform: translateX(-70%);
}

.fas, .fab {
    margin-right: 10px;
}

.footer-text {
    position: absolute;
    color: white;
    bottom: 0.5rem;
    left: 50%;
    transform: translateX(-70%);
    font-size: 10pt;
    opacity: 0.6;
}

@media only screen and (max-width: 1320px) {
    .wrapper {
        height: 100vh;
        width: 100vw;
    }

    .btnTicket {
        width: 100%;
        letter-spacing: 0.1rem;
        font-size: 20pt;
    }

    .nav-link {
        font-size: 16pt;
    }

    #logo-container {
        width: 60%;
        transform: translate(0, 0);
    }

    .main-logo-container {
        width: 15%;
    }
}